#

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Import Data from a link

url = "http://bit.ly/w-data"
data = pd.read_csv(url)

In [3]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [4]:
data.shape

(25, 2)

In [5]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [6]:
import matplotlib.pyplot as plt

In [26]:
plt.scatter(data[Hours],data["Scores"],c='g')
plt.legend(["Scores"])
plt.xlabel("Hours Studied")
plt.ylabel("Scores")
plt.show()

NameError: name 'Hours' is not defined

In [27]:
x = data.iloc[:,:-1].values  #Independent Variable
y = data.iloc[:,1].values  # Dependent Variable

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [14]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(20, 1)
(5, 1)
(20,)
(5,)

In [15]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()

In [16]:
LR.fit(x_train,y_train)

LinearRegression()

In [17]:
y_pred = LR.predict(x_test)
#y_pred = pd.DataFrame(y_pred,columns=["Predicted"])

In [18]:
print(y_pred)

[16.88414476 33.73226078 75.357018   26.79480124 60.49103328]

In [19]:
print(y_test)

[20 27 69 30 62]

In [20]:
from sklearn import metrics

In [24]:
print("Mean Squared Error",metrics.mean_squared_error(y_test,y_pred))
print("Mean Absolute Error",metrics.mean_absolute_error(y_test,y_pred))

Mean Squared Error 21.5987693072174
Mean Absolute Error 4.183859899002975

In [23]:
hours =np.array([9.25])
hours = hours.reshape(1,-1)
pred_score = LR.predict(hours)
print(pred_score[0])

93.69173248737538